.cell_ctn {
    -fx-background-color: white;
}
.cell_ctn Button:hover{
    -fx-background-color: #f4f4f4;
}

.cell_ctn HBox {
    -fx-alignment: center_left;
    -fx-spacing: 10px;
}
.cell_ctn VBox {
    -fx-alignment: center_left;
}
.chat_name {
    -fx-font-weight: 700;
    -fx-font-size: 16px;
}
.chat_msg_date {
    -fx-font-size: 12px;
    -fx-text-fill: #aaaaaa;
}